[user]
	name = Hillary Chan
	email = hillary.chan91@gmail.com
[alias]
	dt = difftool
	mt = mergetool
	vimdiff = difftool
	plog = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
[diff]
	tool = vimdiff3
[difftool]
	prompt = false
[difftool "vimdiff3"]
    cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = vim_mergetool
	conflictstyle = diff3
[mergetool "vim_mergetool"]
	cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
	trustExitCode = true
