let mapleader = " "

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'

set clipboard^=unnamedplus  " enable copy pasting between clipboard registers
set ruler                   " show file stats
set number                  " show line numbers
set relativenumber          " show relative line numbers

" saving buffers
nnoremap <leader>w :w<CR>

" escape mappings
inoremap jk <esc>
vnoremap jk <esc>

" make Y consistent with C and D
nnoremap Y y$

" center highlighted search results
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz

" split navigation
nnoremap <C-j> <C-w><C-j>
nnoremap <C-k> <C-w><C-k>
nnoremap <C-l> <C-w><C-l>
nnoremap <C-h> <C-w><C-h>
