
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */ 

.markdown-preview.markdown-preview {
  &.prince {
    @page {
      size: A4;
      @bottom {
        content: "Page " counter(page) " of " counter(pages);
      }
    }
    p { font-size: 10pt; }
    ol, ul {
      margin-left: 10pt;
      font-size:   10pt;
    }
    table {
      font-size: 10pt;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 10pt 0 0 0;
    }
    h1 { font-size: 24pt; }
    h2 { font-size: 20pt; }
    h3 { font-size: 18pt; }
    h4 { font-size: 16pt; }
    h5 { font-size: 14pt; }
    h6 { font-size: 12pt; }
  }
}
